<div class="loading" *ngIf="loading">
	<img src="../../assets/images/loader.gif" />
</div>

<ul id="favoritos-list" *ngIf="favoritos">
	<li *ngFor="let favorito of favoritos" class="favorito-item">
		<div class="content-data">
			<h4>{{favorito.title}}</h4>
			<p class="url">{{favorito.url}}</p>
			<p class="buttons">
				<a href="{{favorito.url}}" targer="_blank" class="btn btn-default" >
					Ir al marcador
				</a>
				<a [routerLink]="['/marcador', favorito._id]" href="{{favorito.url}}"  class="btn btn-ver" >
					Ver
				</a>
				<a [routerLink]="['/editar-marcador', favorito._id]" class="btn btn-editar" >
					Editar
				</a>
				<a (click)="onBorrarConfirm(favorito._id)" class="btn btn-eliminar" >
					Eliminar
				</a>
			</p>
				<div class="seguro" *ngIf="confirmado == favorito._id">
					<p><strong>¿Estás seguro de querer borrar el Favorito?</strong></p>
					
					<br>
					<a (click)="onBorrarFavorito(favorito._id)" class="btn btn-eliminar" >
						Eliminar
					</a>
					<a (click)="onCancelarConfirm(favorito._id)" class="btn btn-ver" >
						Cancelar
					</a>
				</div>
			
		</div>
	</li>
</ul>